



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --clr-balck: #000;
    --clr-dark-gray: #333333B2;
    --clr-blue: #4762FF;
    --clr-white:#FFFFFF;
}

.container {
    width: 1440px;
    margin: 0 auto;
}  

.header-top{
    padding: 26px 0;
    border-bottom: 26px;
}
.header-top-content-wrapper{
    display: flex;
    justify-content: end;
    gap: 20px;
    color:var(--clr-dark-gray);
}
.header-top-content-wrapper p{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;   
    color: var(--clr-dark-gray);
}
.header-top-content-wrapper p ~ a{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;    
    color: var(--clr-dark-gray);
}
.header-top-content-wrapper p ~ a:hover{
    color:  #4762FF;
}
.header-top-language-wrapper > span{
    color: #000;
   
}
/* header-second-wrapper */
.second-wrapper {
    margin: 0 auto;
    padding-top: 18px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;

}

.logo-wrapper {
    display: flex;
    gap: 6px;
    margin-left: 164px;
    margin-right: 137px;
    align-items: center;
}

.logo-wrapper>img {
    width: 41px;
    height: 41px;
}

.logo-wrapper>a {
    margin-top: 15px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
}

.second-list-wrapper {
    display: flex;
    align-items: center;
    gap: 46px;
    list-style: none;
}

.list-item>a {
    font-family:Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #333333;
}

.input-wrapper {
    display: flex;
    gap: 20px;
    justify-content: end;
}

.second-wrapper-1button {
    border: none;
    background-color: white;
    width: 117px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 6px;
    transition: all 0.3s;
}


.search-photo {
    align-items: center;
    width: 22px;
    height: 22px;
}

.second-wrapper-input {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    letter-spacing: 0.75%;
    vertical-align: middle;
    justify-content: end;
    outline: none;
    width: 60px;
    height: 25px;
    border: none;
    background-color: transparent;
}

.second-wrapper-1button:hover {
    background-color: antiquewhite;
    border-color: bisque;
    width: 140px;
    height: 51px;
}

.second-wrapper-2button, .hero-title-wrapper > button {
    border: none;
    background-color:#4762FF;
    width: 170px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 6px;
    transition: all 0.3s;
}

.second-wrapper-2button>img {
    align-items: center;
    width: 20px;
    height: 20px;
}

.second-wrapper-2button>span {
    font-family:Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 158%;
    letter-spacing: 0.75%;
    text-align: center;
    vertical-align: middle;
    color: var(--clr-white);
}

.second-wrapper-2button:hover {
    border: none;
    background-color: rgb(34, 180, 237);
    width: 200px;
    height: 51px;
}


/* hero style */
.hero-section{
    padding: 110px 0 122px;
    background-image:url(../images/hero-img-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
}
.hero-title-wrapper{
    top: 256px;
    left: 165px;
    gap: 32px;
}
.hero-title-wrapper > h2{
    width: 582px;
    height: 147px;
    margin-left: 165px;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--clr-white);
    
}
.hero-title-wrapper > p{
    width:496px;
    height: 887px;
    margin-left: 165px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    gap: 32px;
    color: var(--clr-white);
    
}
.hero-title-wrapper > button:hover{
   background-color:#4762FF ;
}
