@font-face {
  font-display: swap;
  font-family: "42dot Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/42dot-sans-v2-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "42dot Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/42dot-sans-v2-latin-700.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --clr-balck: #000;
  --clr-dark-gray: #333333B2;
  --clr-blue: #4762FF;
  --clr-white:#FFFFFF;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.site-header {
  position: fixed;
  top: 0;
  background-color: var(--clr-white);
  width: 100%;
}

.header-top {
  padding: 26px 0;
  border-bottom: 26px;
}

.header-top-content-wrapper {
  display: flex;
  justify-content: end;
  gap: 20px;
  color: var(--clr-dark-gray);
}

.header-top-content-wrapper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--clr-dark-gray);
}

.header-top-content-wrapper p ~ a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--clr-dark-gray);
}

.header-top-content-wrapper p ~ a:hover {
  color: #4762FF;
}

.header-top-language-wrapper > span {
  color: #000;
}

.header-top-language-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  border-left: 1px solid gray;
  height: 50px;
  padding: 14px 11px;
  color: #707070;
  transition: all 0.3s;
}
.header-top-language-wrapper:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 1px solid var(--clr-white);
  background-color: var(--clr-blue);
  color: var(--clr-white);
}
.header-top-language-wrapper:hover > span {
  color: white;
}
.header-top-language-wrapper:hover > .header-top__popap {
  height: 85px;
  padding: 5px;
}
.header-top-language-wrapper > span ~ svg {
  transition: transform 0.3s;
}
.header-top-language-wrapper:hover > span ~ svg {
  transform: rotate(180deg);
}
.header-top-language-wrapper .header-top__popap {
  position: absolute;
  background-color: var(--clr-blue);
  top: 47px;
  width: 100%;
  left: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 0;
  overflow: hidden;
}
.header-top-language-wrapper > li {
  text-align: center;
  padding: 10px 0;
  color: var(--clr-white);
}
.header-top-language-wrapper > li:hover {
  background-color: var(--clr-white);
  border-radius: 10px;
  color: black;
}

/* header-second-wrapper */
.second-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}

.logo-wrapper {
  display: flex;
  gap: 6px;
}

.logo-wrapper > img {
  width: 41px;
  height: 41px;
}

.logo-wrapper > a {
  margin-top: 15px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #333333;
}

.second-list-wrapper {
  display: flex;
  align-items: center;
  gap: 46px;
  list-style: none;
}

.list-item > a {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #333333;
}

.input-wrapper {
  display: flex;
  gap: 20px;
  justify-content: end;
}

.second-wrapper-1button {
  border: none;
  background-color: white;
  width: 117px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 6px;
  transition: all 0.3s;
}

.search-photo {
  align-items: center;
  width: 22px;
  height: 22px;
}

.second-wrapper-input {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.75%;
  vertical-align: middle;
  justify-content: end;
  outline: none;
  width: 60px;
  height: 25px;
  border: none;
  background-color: transparent;
}

.second-wrapper-1button:hover {
  width: 150px;
}

.second-wrapper-2button, .hero-wrapper-btn {
  border: none;
  background-color: #4762FF;
  width: 170px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 6px;
  transition: all 0.3s;
}

.second-wrapper-2button > img {
  align-items: center;
  width: 20px;
  height: 20px;
}

.second-wrapper-2button > span {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 158%;
  letter-spacing: 0.75%;
  text-align: center;
  vertical-align: middle;
  color: var(--clr-white);
}

.second-wrapper-2button {
  color: white;
}

.second-wrapper-2button:hover {
  background-color: transparent;
  border: 1px solid #4762FF;
  color: #4762FF;
}

.second-wrapper-2button:hover > span {
  color: #4762FF;
}

/* hero style */
.site-main {
  margin-top: 250pxpx;
}

.hero-section {
  padding: 110px;
  background-image: url(../images/hero-img-bg1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
}

.hero-title-wrapper {
  display: flex;
  flex-direction: column;
}

.hero-title-wrapper > h2 {
  width: 582px;
  height: 147px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--clr-white);
}

.hero-title-wrapper > p {
  width: 496px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--clr-white);
  margin-bottom: 32px;
}

.hero-title-wrapper > .hero-wrapper-btn:hover {
  background-color: rgb(34, 180, 237);
  width: 200px;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
  margin-top: 68px;
}

.about-us-img-wrapper {
  width: 531px;
  align-items: center;
}

.about-us-title-wrapper {
  width: 542px;
  height: 313px;
  gap: 16px;
}

.about-us-title-wrapper > h2 {
  width: 540px;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--clr-dark-gray);
}

.about-us-title-wrapper > p {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.about-us-btn {
  width: 196px;
  height: 52px;
  margin-top: 55px;
  margin-left: 300px;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  color: var(--clr-white);
  background-color: var(--clr-blue);
  border-color: var(--clr-blue);
}

.about-us-btn:hover {
  background-color: transparent;
  border: 1px solid #4762FF;
  color: #4762FF;
}

.catalog__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 58px;
}

.catalog__item {
  padding: 20px;
  text-align: start;
  width: 250px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1019607843);
}

.catalog__title-wrapper > h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--clr-dark-grey);
  margin-bottom: 64px;
}

.catalog__item > strong {
  margin-right: 19px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  margin-bottom: 20px;
  display: inline-block;
}

.catalog__btn {
  width: 213px;
  height: 41px;
  border-radius: 8px;
  background-color: #4762FF;
  color: white;
  border: none;
  margin-top: 15px;
  transition: all 0.3s;
}

.our-catalog-item-text > button:hover {
  width: 220px;
  height: 47px;
  background-color: skyblue;
}

/* Design part */
.design-title-wrapper > h2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  color: #333333;
  width: 960px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.design-title-wrapper > p {
  width: 808px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(51, 51, 51, 0.8);
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */