.about{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 39px;
    margin-bottom: 76px;
    margin-top: 68px;
    margin-left: 120px;
}

.about-us-img-wrapper{
    width: 531px;
   align-items: center;
} 
.about-us-title-wrapper{
    width: 542px;
    height: 313px;
    gap: 16px;
}
.about-us-title-wrapper > h2{
    width: 540px;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--clr-dark-gray)
    
}
.about-us-title-wrapper > p{
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
     
}
.about-us-btn{
    width: 196px;
    height: 52px;
    margin-top: 55px;
    margin-left: 300px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    color: var(--clr-white);
    background-color: var(--clr-blue);
    border-color: var(--clr-blue);
}
.about-us-btn:hover{
    border: none;
    background-color: rgb(34, 180, 237);
   
}
