.cabins__title-wrapper{
    margin: 0 auto;
    align-items: center;
    color: var(--clr-dark-grey);
}
.cabins__title-wrapper > h2{
    margin-top: 58px;
    width: 816px;
    height: 59px;
    gap: 16px;    
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: var(--clr-dark-grey);
    margin-top:7px;
}
.cabins__title-wrapper > p{
     margin: 0 auto;
     width: 873;
     height: 238;
     font-weight: 400;
     font-size: 18px;
     line-height: 100%;
     letter-spacing: 0%;
     text-align: center;
     
}

