
/* Design part */

.design-title-wrapper>h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    color: #333333;
    width: 960px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.design-title-wrapper>p {
    width: 808px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #333333CC;
    margin: 0 auto;
}

