.site-header{
    position: fixed;
    top: 0;
    background-color: var(--clr-white);
    width: 100%;
}
.header-top{
    padding: 26px 0;
    border-bottom: 26px;
}
.header-top-content-wrapper{
    display: flex;
    justify-content: end;
    gap: 20px;
    color:var(--clr-dark-gray);
}
.header-top-content-wrapper p{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;   
    color: var(--clr-dark-gray);
}
.header-top-content-wrapper p ~ a{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;    
    color: var(--clr-dark-gray);
}
.header-top-content-wrapper p ~ a:hover{
    color:  #4762FF;
}
.header-top-language-wrapper > span{
    color: #000; 
}
.header-top-language-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    border-left: 1px solid gray;
    height: 50px;
    padding: 14px 11px;
    color: #707070;
    transition: all 0.3s;

    &:hover{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-left: 1px solid var(--clr-white);
        background-color:var(--clr-blue);
        color:var(--clr-white);

    }
    &:hover > span{
        color: white;
    }
    &:hover > .header-top__popap{
        height: 85px;
        padding: 5px;
    }

    & > span ~ svg{
       transition:  transform 0.3s;

    }
   
    &:hover > span ~ svg{
        transform: rotate(180deg);
    }
.header-top__popap{
    position: absolute;
    background-color:var(--clr-blue);
    top: 47px;
    width: 100%;
    left: 0;
    // padding: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 0;
    overflow: hidden;
    }

    & > li{
        text-align: center;
        padding: 10px 0;
        color: var(--clr-white);

        &:hover{
            background-color: var(--clr-white);
            border-radius: 10px;
            color: black;
        }

    }

}

/* header-second-wrapper */
.second-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.logo-wrapper {
    display: flex;
    gap: 6px;
}

.logo-wrapper>img {
    width: 41px;
    height: 41px;
}

.logo-wrapper>a {
    margin-top: 15px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #333333;
}

.second-list-wrapper {
    display: flex;
    align-items: center;
    gap: 46px;
    list-style: none;
}

.list-item>a {
    font-family:Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #333333;
}

.input-wrapper {
    display: flex;
    gap: 20px;
    justify-content: end;
}

.second-wrapper-1button {
    border: none;
    background-color: white;
    width: 117px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 6px;
    transition: all 0.3s;
}


.search-photo {
    align-items: center;
    width: 22px;
    height: 22px;
}

.second-wrapper-input {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 158%;
    letter-spacing: 0.75%;
    vertical-align: middle;
    justify-content: end;
    outline: none;
    width: 60px;
    height: 25px;
    border: none;
    background-color: transparent;
}

.second-wrapper-1button:hover {
    width: 150px;
}

.second-wrapper-2button, .hero-wrapper-btn{
    border: none;
    background-color:#4762FF;
    width: 170px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 6px;
    transition: all 0.3s;
}

.second-wrapper-2button>img {
    align-items: center;
    width: 20px;
    height: 20px;
}

.second-wrapper-2button>span {
    font-family:Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 158%;
    letter-spacing: 0.75%;
    text-align: center;
    vertical-align: middle;
    color: var(--clr-white);
}
.second-wrapper-2button{
    color: white;
}

.second-wrapper-2button:hover{
    background-color: transparent;
    border: 1px solid #4762FF;
    color: #4762FF;
}
.second-wrapper-2button:hover > span {
    color: #4762FF;
}